﻿@{
    ViewData["Title"] = "About Game";
}

<div class="row">
    <div class="left">
        <h3>About Game</h3>
        <p>Tesserae is a single player strategy game played with colored tiles.</p>
        <p>
            The game is played on one of nine boards. The object of the game is to solve
            a mosaic by removing tiles until only one tile is left, and to do this
            in as few moves as possible.
        </p>
        <p>The tiles are divided into three types: Primary, Secondary and Tertiary.</p>
        <p>
            Each space on a mosaic may by occupied by one, two or three tiles.
            If two tiles occupy the same space, then that space contains a Secondary color.
            If three tiles occupy a space, then that space contains the Tertiary color.
        </p>
    </div>
    <div class="right">
        <h3>Tiles Description</h3>
        <p>The following tiles are PRIMARY:</p>
        <div style="display: flex">
            <div class="tile type1" style="margin-left: 20px"></div>
            <div class="tile type2" style="margin-left: 20px"></div>
            <div class="tile type4" style="margin-left: 20px"></div>
        </div>
        <p>SECONDARIES are combinations of two Primaries:</p>
        <div style="display: flex">
            <div class="tile type1" style="margin: 0 10px"></div>
            <p class="sign">+</p>
            <div class="tile type2" style="margin: 0 10px"></div>
            <p class="sign">=</p>
            <div class="tile type3" style="margin: 0 10px"></div>
        </div>
        <br />
        <div style="display: flex">
            <div class="tile type4" style="margin: 0 10px"></div>
            <p class="sign">+</p>
            <div class="tile type1" style="margin: 0 10px"></div>
            <p class="sign">=</p>
            <div class="tile type5" style="margin: 0 10px"></div>
        </div>
        <br />
        <div style="display: flex">
            <div class="tile type2" style="margin: 0 10px"></div>
            <p class="sign">+</p>
            <div class="tile type4" style="margin: 0 10px"></div>
            <p class="sign">=</p>
            <div class="tile type6" style="margin: 0 10px"></div>
        </div>
        <p>The TERTIARY is all three Primaries combined:</p>
        <div style="display: flex">
            <div class="tile type1" style="margin: 0 10px"></div>
            <p class="sign">+</p>
            <div class="tile type2" style="margin: 0 10px"></div>
            <p class="sign">+</p>
            <div class="tile type4" style="margin: 0 10px"></div>
            <p class="sign">=</p>
            <div class="tile type7" style="margin: 0 10px"></div>
        </div>
    </div>
</div>
<div style="padding: 1vw">
    <h3>Move categories</h3>
    <p>A move in Tesserae can have elements of eight categories. The first and simplest 
    is that of a primary jumping over another primary and landing on a blank space.</p>
    <p>The first tile is moved and leaves an empty space behind. The second tile disappears. 
    Then first tile is then placed where the blank space was before. For example, jumping 
    the left tile over the right tile: </p>
    <div class="example">
        <div class="tile type2" style="margin: 0 2px"></div>
        <div class="tile type4" style="margin: 0 2px"></div>
        <div class="tile type0" style="margin: 0 2px"></div>
        <p class="sign"> → </p>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type2" style="margin: 0 2px"></div>
    </div>
    <p>The second move element is that of a primary jumping over a secondary. 
    The primary is subtracted from the secondary, leaving the left over primary 
    in the middle space: </p>
    <div class="example">
        <div class="tile type1" style="margin: 0 2px"></div>
        <div class="tile type5" style="margin: 0 2px"></div>
        <div class="tile type0" style="margin: 0 2px"></div>
        <p class="sign"> → </p>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type4" style="margin: 0 2px"></div>
        <div class="tile type1" style="margin: 0 2px"></div>
    </div>
    <p>For the move to be legal, the middle tile must be a secondary that contains
    a component of the primary jumping over it.</p>
    <p>The third element is that of a primary jumping over a tertiary. The primary 
    is subtracted from the tertiary, leaving the left over secondary in the middle space:</p>
    <div class="example">
        <div class="tile type4" style="margin: 0 2px"></div>
        <div class="tile type7" style="margin: 0 2px"></div>
        <div class="tile type0" style="margin: 0 2px"></div>
        <p class="sign"> → </p>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type3" style="margin: 0 2px"></div>
        <div class="tile type4" style="margin: 0 2px"></div>
    </div>
    <p>The fourth move element concerns primaries that land on other primary colors 
    after making a legal jump. The tile that is moved will be added to the tile it 
    lands on to make a new secondary:</p>
    <div class="example">
        <div class="tile type2" style="margin: 0 2px"></div>
        <div class="tile type2" style="margin: 0 2px"></div>
        <div class="tile type1" style="margin: 0 2px"></div>
        <p class="sign"> → </p>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type3" style="margin: 0 2px"></div>
    </div>
    <p>The fifth move element concerns primaries that land on secondaries after 
    making a legal jump. The tile that is moved will be added to the secondary 
    that it lands on to make a new tertiary.</p>
    <p>Primaries can only land on a blank space, other primaries, or secondaries
    that do not already contain that primary:</p>
    <div class="example">
        <div class="tile type1" style="margin: 0 2px"></div>
        <div class="tile type1" style="margin: 0 2px"></div>
        <div class="tile type6" style="margin: 0 2px"></div>
        <p class="sign"> → </p>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type7" style="margin: 0 2px"></div>
    </div>
    <p>The sixth move element is a secondary making a jump. Following the previous 
    rules, a secondary may only jump over an identical secondary or a tertiary, since
    it can only be subtracted from itself or a tertiary.</p>
    <p>If a secondary jumps over a tertiary, the elements of the secondary are subtracted 
    from the tertiary to leave a primary in the middle space:</p>
    <div class="example">
        <div class="tile type5" style="margin: 0 2px"></div>
        <div class="tile type5" style="margin: 0 2px"></div>
        <div class="tile type0" style="margin: 0 2px"></div>
        <p class="sign"> → </p>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type5" style="margin: 0 2px"></div>
    </div>
    <br />
    <div class="example">
        <div class="tile type3" style="margin: 0 2px"></div>
        <div class="tile type7" style="margin: 0 2px"></div>
        <div class="tile type0" style="margin: 0 2px"></div>
        <p class="sign"> → </p>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type4" style="margin: 0 2px"></div>
        <div class="tile type3" style="margin: 0 2px"></div>
    </div>
    <p>The seventh move element concerns secondaries that land on primaries after making 
    a legal jump. The secondary that is moved will be added to the tile that it lands on 
    to make a new tertiary.</p>
    <p>Secondaries can only land on a blank space, identical secondaries, or on primaries
    that are not already contained in that secondary:</p>
    <div class="example">
        <div class="tile type6" style="margin: 0 2px"></div>
        <div class="tile type6" style="margin: 0 2px"></div>
        <div class="tile type1" style="margin: 0 2px"></div>
        <p class="sign"> → </p>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type7" style="margin: 0 2px"></div>
    </div>
    <p>The last and most limited move is that of a tertiary making a move. A tertiary 
    tile can only jump over another tertiary, and can only land on a blank space:</p>
    <div class="example">
        <div class="tile type7" style="margin: 0 2px"></div>
        <div class="tile type7" style="margin: 0 2px"></div>
        <div class="tile type0" style="margin: 0 2px"></div>
        <p class="sign"> → </p>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type0" style="margin: 0 2px"></div>
        <div class="tile type7" style="margin: 0 2px"></div>
    </div>
</div>
<br />