﻿@using Tesserae;
@model Game
@{
    ViewData["Title"] = "Game";
}
<link href="~/css/game.css" rel="stylesheet" />
<div class="grid">
    <div class="board">
        <div id="ratings"></div>
        <div style="display: inline-block">
        <table id="board">
            @for (var row = 0; row < Model.Board.Height; row++)
            {
                <tr>
                    @for (var col = 0; col < Model.Board.Width; col++)
                    {
                        var tile = Model.Board.Tiles[row, col];
                        <td>
                            @if (tile.Value != 8)
                            {
                                <div id="@(row):@(col)" class="tile type@(tile.Value)" onclick="getMoves(@(row), @(col))"></div>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
        <button class="undo" onclick="undo()"><span>Undo</span></button>
        <button class="redo" onclick="redo()" style="margin-left: 10%"><span>Redo</span></button>
        </div>
    </div>

    <div id="comments" class="comments">
        <form id="form" method="post" onsubmit="processForm(); return false;">
            <div class="custom-file col-md-10">
                <label class="commentLable" for="commentText">Comment</label>
                <input type="text" class="form-control" id="commentText" spellcheck="false" required/>
                <input type="submit" id='addComment' value="Submin"/>
            </div>
        </form>
    </div>
    <div id="scores" class="scores"></div>
</div>


<script src="~/js/game.js"></script>