﻿@using Tesserae;
@{
    ViewData["Title"] = "Tesserae";
}

<link href="~/css/index.css" rel="stylesheet" />
<div id="map" style="display: none">
    <div class="bar">
        <button id="0" class="but" onclick="selectComplexity(0)">Beginner</button>
        <button id="1" class="but" onclick="selectComplexity(1)">Intermediate</button>
        <button id="2" class="but" onclick="selectComplexity(2)">Advanced</button>
    </div>

    <table style="width: 80vw; height: 70vh;">
        @for (int r = 0, i = 0; r < 3; r++)
        {
            <tr>
                @for (int c = 0; c < 3; c++, i++)
                {
                    <td>
                        <div class='board' onclick='selectMap(@(i))'>
                            <table>
                                @{var arr = Map.GetMap((MapType)i);}
                                @for (var row = 0; row < arr.GetLength(0); row++)
                                {
                                    <tr>
                                        @for (var col = 0; col < arr.GetLength(1); col++)
                                        {
                                            <td>
                                                @if (arr[row, col] != 0)
                                                {
                                                    <div class='tile'></div>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </table>
                        </div>
                    </td>
                }
            </tr>
        }
    </table>


</div>

<div id="play">
    <div class="center"><h3>Tesserae</h3></div>
    <button id="start" class="button" onclick="play()">Play</button>
</div>

<script src="~/js/intro.js"></script>

