﻿table {
    margin: 1rem 1rem;
}

.board {
    display: inline-block;
    text-align: center;
}

.tile img {
    height: 100%;
    width: 100%;
}

.tile {
    transition: all .3s ease-in-out;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.60);
    border: solid 0.2mm #565f6f;
    width: 50px;
    height: 50px;
}

.blink {
    animation: blinker 1s ease infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.4;
    }
}

.redo, .undo {
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #f4511e;
    color: white;
    text-align: center;
    font-size: 90%;
    width: 100px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
}

.redo span, .undo span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.redo span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -50%;
    transition: 0.5s;
}

.undo span:before {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -50%;
    transition: 0.5s;
}

.redo:hover span {
    padding-right: 20%;
}

.undo:hover span {
    padding-left: 20%;
}

.redo:hover span:after{
    opacity: 1;
    right: 0;
}

.undo:hover span:before {
    opacity: 1;
    left: 0;
}

.type1 {
    background-image: url('../images/type1.png');
    background-size: 50px 50px;
}

.type2 {
    background-image: url('../images/type2.png');
    background-size: 50px 50px;
}

.type3 {
    background-image: url('../images/type3.png');
    background-size: 50px 50px;
}

.type4 {
    background-image: url('../images/type4.png');
    background-size: 50px 50px;
}

.type5 {
    background-image: url('../images/type5.png');
    background-size: 50px 50px;
}

.type6 {
    background-image: url('../images/type6.png');
    background-size: 50px 50px;
}

.type7 {
    background-image: url('../images/type7.png');
    background-size: 50px 50px;
}

/* TILE PROTOTYPE

.type3:before, .type3:after,
.type5:before, .type5:after,
.type1:before, .type1:after {
    position: absolute;
    content: ' ';
    height: 38px;
    width: 5px;
    margin: 6px 23px;
    background-color: white;
}

.type1:after, .type3:after, .type5:after {
    transform: rotate(90deg);
}

.type2:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 20px;
    margin: 10px;
    border: solid 5px white;
}

.type4:after, .type7:after {
    position: absolute;
    content: ' ';
    height: 30px;
    width: 30px;
    margin: 5px;
    border: solid 5px white;
    border-radius: 50%;
}

.type6:after, .type7:before{
    position: absolute;
    content: ' ';
    height: 14px;
    width: 14px;
    margin: 13px;
    border: solid 5px white;
}

.type6:before {
    position: absolute;
    content: ' ';
    height: 32px;
    width: 32px;
    margin: 4px;
    border: solid 5px white;
    border-radius: 50%;
}

*/