.grid {
    grid-template-columns: 22vw 56vw 20vw;
    grid-template-areas: 'menu main right';
    width: 90vw;
    display: grid;
}

#scores, #comments {
    overflow: auto;
    padding: 1vw;
    height: 80vh;
    border-radius: 10px;
    margin-left: 1vw;
    background: rgba(255, 255, 255, 0.30);
}

#comments {
    grid-area: menu;
}

.comment {
    background-color: white;
    margin: 10px 0;
    color: black;
    padding: 4px 4px !important;
    border-radius: 5px;
}

#middle {
    grid-area: main;
    text-align: center;
}

#scores {
    grid-area: right;
}

.topScores {
    text-align: center;
    padding: 10px 0;
}

.enum {
    background-color: #f90 !important;
    margin: 7px 12px 0 7px;
}

.score {
    margin: 10px 0;
    background: white;
    color: black;
    border-radius: 5px;
    height: 40px;
}

#addComment {
    border: none;
    color: white;
    display: inline-block;
    cursor: pointer;
    alignment: right;
    border-radius: 4px;
    padding: 5px 5px;
    background: #0092ff;
    transition: 0.3s;
}

#commentText {
    border: none;
    height: 25px;
    border-radius: 5px;
}

#addComment:hover {
    opacity: 0.5;
}

.date {
    padding: 2px;
    margin: 0;
    float: right;
    background: #0092ff;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

.name {
    margin-top: 8px;
    border-radius: 7px;
    padding: 1px 5px;
    display: inline-block;
    background: #0092ff;
}

.points {
    float: right;
    margin-right: 10px;
    border-radius: 10px;
}

.player {
    font-style: italic;
    background: #f849dd80;
    display: inline-block;
    padding: 0 3px;
    border-radius: 3px;
}

.text {
    padding-top: 5px;
}

#ratings {
    margin: 0 auto;
    text-align: center;
    width: 40vw;
}
