﻿@font-face {
    font-family: 'Galada';
    src: url("../fonts/Galada-Regular.ttf");
}

.center {
    font-family: Galada;
    font-style: italic;
    text-align: center;
    margin-top: 4%;
}

    .center h3 {
        color: #ebab11;
        font-size: 8vw;
    }

.button {
    user-select: none !important;
    outline: none;
    background-color: transparent;
    color: #ffbd11;
    font-size: 3vh;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
    border: solid #ffbd11 0.1vw;
    text-align: center;
    display: block;
    margin: 2vh auto;
}

    .button:hover {
        background-color: #000000;
        color: white;
    }

.but {
    outline: none;
    margin-left: 5.5vw;
    background: #f4622c;
    font-size: 1.2vw;
    border-radius: 1vw;
    height: 4vw;
    width: 9vw;
    border: none;
    color: white;
    transition: 1s;
}

    .but:hover {
        cursor: pointer;
        height: 5vw;
        width: 10vw;
    }

.selected {
    border: #ebab11 solid 0.2vw;
    height: 5vw;
    width: 10vw;
}

button:checked {
    border: solid 2px black;
    height: 5vw;
    width: 10vw;
}

.bar {
    width: 50%;
    height: 10vh;
    margin: 5vh auto 0 auto;
}

.tile {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
    border: solid 0.2mm #565f6f;
    width: 1vw;
    height: 1vw;
}

.board {
    display: inline-block;
    text-align: center;
}

table {
    text-align: center;
    margin: 0 auto;
}

table table {
    border: transparent solid 2px;
    border-radius: 10px;
}

    table table:hover {
        cursor: pointer;
        border: #ebab11 solid 2px;
        border-radius: 10px;
    }
