﻿@font-face {
    font-family: 'Galada';
    src: url("../fonts/Galada-Regular.ttf");
}

html {
    font-size: larger;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    color: white;
    background: url('../images/back.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    border-bottom: #ac59a2 solid 0.2mm;
    height: 45px;
    background: #202020;
}

nav {
    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: Galada, serif;
    padding: 0 2.5vw;
    margin: 0;
    font-size: 30px;
}

h2 {
    padding-left: 2vw;
    letter-spacing: -2px;
    font-style: italic;
    margin: 0;
    line-height: 45px;
    font-size: 25px;
}

h1:hover, h2:hover {
    color: #b14f8e;
}

h3 {
    font-style: italic;
    margin: 0;
    padding-left: 1.5vw;
    font-size: 1.4rem;
}

p {
    margin: 8px;
}

.sign {
    font-size: 30px;
    line-height: 50px; 
    margin: 0;
}

.example {
    display: flex;
    margin-left: 3vw;
}

@media screen and (min-width: 850px) {
    .row {
        display: flex;
    }
    .left {
        padding-left: 1.5vw;
        width: 40vw;
    }
    .right {
        width: 60vw;
        padding-left: 10vw;
        padding-right: 2vw;
    }
}

.log {
    position: absolute;
    right: 1vw;
}

.log p {
    font-size: 14px;
    padding: 0;
    margin: 0;
    line-height: 48px;
    vertical-align: central;
}