﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tesserae - @ViewData["Title"]</title>
    <!--Google sign-->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="895288615227-3pn9c0m2n54fm5ioikct1dvthpg7lahq.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!--End of Google sign-->
    <link rel="shortcut icon" href="~/images/favicon.png">
    <link rel="stylesheet" href="~/css/board.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/js/common.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="index"><h1>Tesserae</h1></a>
            <a href="aboutgame"><h2>About Game</h2></a>
            <a href="index"><h2>New Game</h2></a>
            <div id="logged" class="log" style="display: none"></div>
            <div id="googleSign" style="top: 7px" class="g-signin2 log" data-width="100" data-height="30" data-onsuccess="onSignIn" data-theme="dark"></div>
        </nav>
    </header>
    <br />

    @RenderBody()

    <script src="~/js/sweetalert2.js"></script>
</body>
</html>
